{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}
        
<div class="row">
  <div class="col-md-6 offset-md-3">


    <div class="card my-4">
        <h5 class="card-header" style="background : black; color : ghostwhite;">Ara</h5>
        <div class="card-body">
            <form class="input-group">
                {% csrf_token %}
                <input type="text" name="keyword" class="form-control" placeholder="Aramak istediğiniz kelimeyi giriniz...">
                <span class="input-group-append">
                    <button class="w3-btn w3-black w3-hover-blue" style="background : black; color : ghostwhite;" type="submit">Ara</button>
                </span>
            </form>
        </div>
    </div>

    {% if appointments %}

    {% for appointment in appointments %}


    <div class="w3-container w3-card w3-margin-bottom">
        <div class="w3-container" >
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <h2 class="w3-text-black w3-padding-16">
                              <i
                            class="fa fa-eye fa-fw w3-margin-right w3-xlarge w3-text-black"></i>{{appointment.title}}
                    </h2>
                </div>
                <div class="w3-col m4 w3-hide-small">
                    <br>
                </div>

            </div>

        </div>

        <div class="w3-container w3-text-black">
        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>{{appointment.start_time}}&nbsp;&nbsp;&nbsp;&nbsp;</h6>
        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>{{appointment.end_time}}&nbsp;&nbsp;&nbsp;&nbsp;</h6>
        
            <a href="{% url 'user:profile' appointment.user.id %}" style="text-decoration: none; color: black;">
            <i class="fa fa-user fa-fw w3-margin-right"></i>{{appointment.user.username}}</b>
            <a href="{% url 'user:profile' appointment.business.user.id %}" style="text-decoration: none; color: black;">
            <i class="fa fa-user fa-fw w3-margin-right"></i>{{appointment.business.user.username}}</b>
            </a>

            <hr>
            <br>
        </div>

    </div>

    {% endfor %}

    {% else %}

    <div class="alert alert-danger">           
        Randevu bulunamadı
    </div>

    {% endif %}

    </div>
</div>

{% endblock body %}